<% provide(:title, 'Home') %>
<% if signed_in? %>
  <table class="front">
    <tr>
      <td class="main">
        <h1 class="posting">What is on your mind?</h1>
        <%= render 'shared/posting_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
		<%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
  <% else %>
<h1>Welcome!</h1>
<p>
  Welcome to the home of ChatterBox, produced by the JNP alliance, developed for students of the Advanced Web Application Development module to collaborate and keep in touch.
</p>
<CENTER><b><p>Please sign up or log in to use our application.</p></b></CENTRE>
<p>
<%= link_to "Sign up", signup_path, class: "signup_button round" %>
</p>
<p>
<%= link_to "Log in", signin_path, class: "signin_button round" %>
</p>

<div class='spread'>
<div class='twshare left'> 
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="funonrails">Tweet</a>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
  </div>
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  <fb:like href="" layout="button_count" show_faces="false" width="450" font="">
  </fb:like>
  </div>

<% end %>
